{% extends 'base.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
<div id="pag1">


<div id="page1data">
<h1 id="headline">
Precision Care.<br>
Meaningful Recovery. </h1>
<p id="para1">Personalized physiotherapy designed around you, your condition, and your goals.</p>
<p id="para2">From persistent back and neck pain to sciatica, sports injuries, and mobility concerns,<br> our evidence-based approach focuses on understanding the cause, restoring movement, and building lasting recovery.</p>
</div>
<div id="form1">

</div>

</div>



{% endblock %}