{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   <link rel="stylesheet" href="{% static 'css/base.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
   {% block style %}
   <!-- style -->
   {% endblock %}
</head>
<body>

    <header>
        <a href="/home"><img src="{% static 'images/logo.png' %}" alt="LOGO" id="logo"></a>
       
                
                <nav id="header_ryt">
                    <a href="/home/" class="header-a">HOME</a>

                    <a href="/about/" class="header-a">ABOUT</a>

                    <a href="/SERVICES/" class="header-a">SERVICES</a>

                    <button id="login"> <a href="/login/" id="login" >LOGIN</a></button>

                    <!-- <button id="book_session"><a href="/book-session/" id="book_session">BOOK SESSION</a></button> -->

                   
                </nav>
            
        
        </header>


    {% block content %}
        <h1>this is base </h1>
    {% endblock %}

    <footer>

        <h2 id="footer-text"> Follow Physo_Whitefield </h2>
        <hr>
        <div id="rights">
           <b>Copyright © 2026 Phyco_Whitefield. All Rights Reserved.<br> Wellstar does not discriminate on, exclude people or treat them differently on the basis of race, color, national origin, age,<br> disability, sex, gender identity or expression or any other type of discrimination prohibited by law.</b>
           
            <div>
                
                
                <a href=""><i class="fa-brands fa-x-twitter icons "></i></a>
                <a href=""><i class="fa-brands fa-whatsapp icons "></i></a>
                <a href=""><i class="fa-brands fa-instagram icons "></i></a>
                <a href=""><i class="fa-regular fa-envelope icons "></i></a>


            </div>
        </div>

    </footer>
</body>
</html>